/* Genral Browser Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    }

body {
    background: #f9f9f9;
    color: #675f64;
    padding: 0;
}

/* Navigation Bar */
nav {
    background: white;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: grey;
    font-size: 20px;
}

.auth-buttons .login {
    margin-right: 10px;
    color: grey;
}

.auth-buttons .signup {
    background: #ff8c00;
    padding: 7px 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.hero {
display: flex;
justify-content: space-between;
align-items: center;
padding: 80px 60px;
background: #fff5e6;
}

.hero h2 {
    max-width: 60%;
    font-size: 80px;
    font-weight: 600;
    color: #222;
}

.hero p {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
}

.hero-buttons {
    margin-top: 40px;
}

.button {
    background: #ff8c00;
    padding: 18px 27px;
    color: white;
    text-decoration: none;
    border-radius: 90px;
    font-size: 20px;
}

.play-demo {
    margin-left: 25px;
    font-size: 18px;
    color: #ff8c00;
}

/* service section */

.Services {
    padding: 60px 20px;
    background-color: white;
}

.Category {
    font-size: 20px;
    display: block;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-align: center;
}

h2 {
display: flex;
align-items: center;
justify-content: center;

}

.title {
    font-size: 30px;
    font-weight: 600;
    color: #181b47;
    margin-bottom: 40px;
}
/* service container */
.service-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
}

/* Individual service box */
.Services {
    background: white;
    padding: 2opx;
    width: 100px;
    border-radius: 20px;
    }

    .service-icon {
        width: 60px;
        height: 40px;
        margin-bottom: 20px;
    }
 
    h3 {
        font-size: 28px;
    margin-bottom: 15px;
    color: #333;
    }

    p {
        font-size: 18px;
    color: #666;
    }